<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{master::masterLayout(~{::title},~{::main})}">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
</head>
<body>
<main id="main">
    <!--create bootstrap form with chinook employee data-->
    <form th:action="@{/profile}" method="post" >
     <div>
         <label for="oldPassword" class="form-label">Old Password</label>
            <input type="password"  class="form-control" id="oldPassword" name="oldPassword" value="">

     </div>
        <div>
            <label for="newPassword" class="form-label">New Password</label>
            <input type="password" class="form-control" id="newPassword" name="newPassword" value="">
        </div>
        <div>
            <label for="confirmPassword" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" value="">
        </div>

            <div>

                <input class="btn btn-primary form-control" type="submit" value="Change Password">
            </div>
        </div>
    </form>
    
</main>
</body>
</html>