<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Chinook</title>
    <!-- Bootstrap CSS spring dependency-->
    <link th:href="@{/webjars/bootstrap/5.2.2/css/bootstrap.min.css}" rel="stylesheet">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
<section class="vh-100" style="background-color: #102E44;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
                <div class="card" style="border-radius: 1rem;">
                    <div class="row g-0">
                        <div class="col-md-6 col-lg-5 d-none d-md-block">
                            <img th:src="@{/img/logo-black.png}"
                                 alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
                        </div>
                        <div class="col-md-6 col-lg-7 d-flex align-items-center">
                            <div class="card-body p-4 p-lg-5 text-black" id="login_container">



                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Note: when deploying, replace "development.js" with "production.min.js". -->
<script th:src="@{/js/react/react.development.js}"></script>
<script th:src="@{/js/react/react-dom.development.js}"></script>
<script th:src="@{/js/react/babel.min.js}"></script>

<script type="text/babel" th:src="@{/js/app/login.js}"></script>
</body>
</html>