<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="masterLayout(title, main)">
<head>

    <title th:include="${title}">Title</title>
  <!-- Bootstrap CSS spring dependency-->
  <link th:href="@{/webjars/bootstrap/5.2.2/css/bootstrap.min.css}" rel="stylesheet">
    <meta name="description" content="" />
    <meta name="author" content="" />
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
</head>
<body>
<div class="d-flex" id="wrapper">
    <!-- Sidebar-->
<div class="border-end bg-white" id="sidebar-wrapper">
    <div class="sidebar-heading border-bottom blueColor"><img  class="sideBarLogo" th:src="@{/img/sidebarLogo.png}"></div>
    <div class="list-group list-group-flush">
        <h4 class="list-group-item-light p-3">Dashboard</h4>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" th:href="@{/customers}">Customers</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" th:href="@{/profile}">Profile</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" th:href="@{/logout}">Logout</a>
    </div>
</div>
<!-- Page content wrapper-->
<div id="page-content-wrapper">
    <!-- Top navigation-->
    <nav class="navbar navbar-expand-lg navbar-light blueColor border-bottom">
        <div class="container-fluid">
            <button class="btn btn-primary" id="sidebarToggle">Menu</button>

        </div>
    </nav>
    <!-- Page content-->
    <div class="container-fluid">
        <h1 class="mt-4" th:include="${title}">Title</h1>
        <div th:include="${main}">
            <p>The starting state of the menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will change.</p>
            <p>
                Make sure to keep all page content within the
                <code>#page-content-wrapper</code>
                . The top navbar is optional, and just for demonstration. Just create an element with the
                <code>#sidebarToggle</code>
                ID which will toggle the menu when clicked.
            </p>
        </div>

    </div>
</div>
</div>



<!-- Bootstrap core JS-->
<script th:src="@{/js/bootstrap/bootstrap.bundle.min.js}"></script>
<!-- Core theme JS-->
<script th:src="@{/js/scripts.js}"></script>
<!-- Load React. -->
<!-- Note: when deploying, replace "development.js" with "production.min.js". -->
<script th:src="@{/js/react/react.development.js}"></script>
<script th:src="@{/js/react/react-dom.development.js}"></script>


</body>
</html>